body{
    background: url(luke-chesser.jpg) no-repeat center center fixed;
    height: 100%;
    background-size:;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1, h2, h3 {
    text-align: center;
    color: rgb(236, 22, 22)
    

}

h1, h2, h3 { 
    font-size: 140%;
    font-family: 'Sniglet', cursive;
    text-align: center;
    color: white
    
}

.menutext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

.logo {
    opacity: 0.5;
    width: 15%
}

.imagesinstagram {
    margin: 50px;
    text-align: center;
    padding-top: 0px;
}

.fa-icon {
    color: lawngreen;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
}
