body{
    background-image: url(luke-chesser.jpg);
    background-size: cover;
}
h1, h2, h3 {
    text-align: center;
    color: rgb(236, 22, 22)
    

}

p, h1, h2, h3 { 
    font-size: 140%;
    font-family: 'Sniglet', cursive;
    text-align: center;
    color: white
    
}

.menutext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

.logo {
    opacity: 0.5;
    width: 15%
}

.imagesinstagram {
    margin: 2px;
    text-align: center;
}